@inherits LayoutComponentBase


@* Esta es la cabecera general*@
<div class="page">
    <div class="cabecera">
        <div id="cabecera_div-1">
            <img src="iconos/icon_1.png" alt="icono1" width= "22%" height="100%">
        </div>
        <div id="cabecera_div-2">
            <h2><label id="titulo_principal">EMPRESA</label></h2>
        </div>
        <div id="cabecera_div-3">

            @* aqui ha contenido de boostrap *@
            <div class="form-row">
                <div class="form-group col-md-6">
                    @* <label for="inputEmail4">Email</label> *@
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-4">
                    @* <label for="inputPassword4">Password</label> *@
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>

        </div>
    </div>

    @* Esta es cuerpo o cuerpos *@
    <div class="cuerpo">
        @Body
    </div>

    @* Esta es el pie de pagina general*@
    <div class="pie">
        @* <ul class="nav nav-pills nav-fill"> *@
            <div id="pie_div_1">
                <img id="img_pie" src="iconos/icon_8.png" alt="icon8" width= "20%" height="100%">
                <h5>316 807 0630</h5>
            </div>
            <div id="pie_div_2">
                <img id="img_pie" src="iconos/icon_9.png" alt="icon9" width= "20%"  height="100%">
                <h5>@@Empresa</h5>
            </div>
            <div id="pie_div_3">
                <img id="img_pie" src="iconos/icon_10.png" alt="icon10" width= "20%"  height="100%">
                <h5>@@Empresa</h5>
            </div>
        @* </ul> *@
    </div>
</div>


@code{

}