@inherits LayoutComponentBase

@* Esta es la cabecera general*@
<div class="page">
    <div class="top-row px-4">
        <ul>
            <li id="li-1"><img src="iconos/icon_1.png" alt="icono1" width="25%" height="6%"></li>
            <li>
                <h2>EMPRESA</h2>
            </li>
            <li id="li-2" >

                @* aqui ha contenido de boostrap *@
                <div class="form-row" >
                    <div class="form-group col-md-6">
                        @* <label for="inputEmail4">Email</label> *@
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-4">
                        @* <label for="inputPassword4">Password</label> *@
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>

            </li>
        </ul>
    </div>

    @* Esta es cuerpo o cuerpos *@
    <div class="content px-4">
        @Body
    </div>

    @* Esta es el pie de pagina general*@
    <div class="bot px-4">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <img id="img_pie" src="iconos/icon_8.png" alt="icon8" width="17%" height="4%">
                <h5>316 807 0630</h5>
            </li>
            <li class="nav-item">
                <img id="img_pie" src="iconos/icon_9.png" alt="icon9" width="17%" height="4%">
                <h5>@@Empresa</h5>
            </li>
            <li class="nav-item">
                <img id="img_pie"  src="iconos/icon_10.png" alt="icon10" width="17%" height="4%">
                <h5>@@Empresa</h5>
            </li>
        </ul>
    </div>
</div>
