/* Archivo de estilos de la pagina PaginaTEST */

#parrafo[b-ca6yzdbuvw]{
    color: blue;
    margin-left: 20px;
}

.lista[b-ca6yzdbuvw]{
    color:  rgb(105, 72, 255);
    margin-left: 50px;
}

.btn[b-ca6yzdbuvw]{
    margin-top: 20px;
}