#contenedor_lista[b-ns2xuy1kgk] {
	height: 50%;
	width: 100%;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}
#contenedor_lista-lista[b-ns2xuy1kgk] {
	height: auto;
}
.texto[b-ns2xuy1kgk] {
	padding:4px;
	background:#fff;
}

/* #parrafo{
    color: blue;
    margin-left: 20px;
}

.lista{
    color:  rgb(105, 72, 255);
    margin-left: 50px;
} */

.btn[b-ns2xuy1kgk]{
    margin-top: 20px;
}
