@page "/guardarClientes"

@using Model.Clases
@using Interfaces
@inject IServicioCliente ServicioCliente

<div class="cabecera_pag">
    <div class="cabecera_pag_zona1">
        <div id="icon1"></div>
    </div>
    <div class="cabecera_pag_zona2">
        <h3>Clientes</h3>
    </div>
    <div class="cabecera_pag_zona3">
        <button id="boton_home"><a href="/"></a></button>
    </div>
</div>

@* <div id="contenedor_lista">
    <div id="contenedor_lista-lista">
    <ul class="list-group list-group-flush">
    @for (var i = 0; i < 50; i++)
    {
    <li class="list-group-item">Esto es un elemento @i</li>
    }
    </ul>
    </div>
    </div>

    <p id="parrafo">Esto es un texto</p>

    <ul class="lista">
    <li>Esto es una lista</li>
    <li>Elemento 1</li>
    <li>Elemento 2</li>
    <li>Elemento 3</li>
    </ul> *@

<EditForm Model="cliente">

    <table class="table">
        <tr>
            <td><label for="nombre">Nombre</label></td>
            <td><input type="text" @bind="cliente.Nombre"></td>
        </tr>
        <tr>
            <td><label for="cedula">Cedula</label></td>
            <td><input type="text" @bind="cliente.Cedula"></td>
        </tr>
        <tr>
            <td><label for="cedula">Correo</label></td>
            <td><input type="text" @bind="cliente.Correo"></td>
        </tr>
        <tr colspan="2" style="text-align: center">
            <td><input type="submit" value="Guardar" @onclick="Guardar"></td>
            <td><input type="button" value="Cancelar" @onclick="Cancelar"></td>
        </tr>

    </table>

</EditForm>


@* Este boton tiene etiquetas de booostrap *@
@* <a href="/">
    <button type="button" class="btn btn-lg btn-primary">Touchme</button>
</a> *@


@code {

    Cliente cliente = new Cliente();

    protected void Cancelar()
    {

    }

    protected async Task Guardar()
    {
        await ServicioCliente.GuardarCliente(cliente);
    }

}
