@page "/clienteslista"

@using Model.Clases
@using Interfaces
@using MyPyme.App.Ui.Componentes
@inject IServicioCliente ServicioCliente
@inject NavigationManager Navegador


<div class="cabecera_pag">
    <div class="cabecera_pag_zona1">
        <div id="icon1"></div>
    </div>
    <div class="cabecera_pag_zona2">
        <h3>Lista De Clientes</h3>
    </div>
    <div class="cabecera_pag_zona3">
        <button id="boton_home"><a id="a-home" href="/"></a></button>
    </div>
</div>

<div id="cabecera-lista">
    <table class="table">
        <tr id="cabecera-lista-tr" colspan="4">
            <td class="cabecera-lista-tr-td">NOMBRE</td>
            <td class="cabecera-lista-tr-td">CEDULA</td>
            <td class="cabecera-lista-tr-td">CORREO</td>
            <td class="cabecera-lista-tr-td">
                <a id="enlace-crear" href="/clientesguardar">
                    <button class="btn-crear">Insertar Cliente</button>
                </a>
            </td>
        </tr>
    </table>
</div>

@if(clientes == null)
{
    <p><i>"Cargarando..."</i></p>
}
else{
    <div id="contenedor_lista">
        <div id="contenedor_lista-lista">
            <table class="table">
                @foreach (Cliente cliente in clientes)
                {
                    <tr colspan="4">
                        <td class="cabecera-lista-tr-td">@cliente.cli_nombre</td>
                        <td class="cabecera-lista-tr-td">@cliente.cli_cedula</td>
                        <td class="cabecera-lista-tr-td">@cliente.cli_correo</td>
                        <td class="cabecera-lista-tr-td">
                            <a href="/clienteslista" @onclick="() => AbrirModal(cliente)"><i id="tag-crud">Borrar</i></a>
                            <a href="/clientesguardar/@cliente.Id"><i id="tag-crud">Editar</i></a>
                            <a href="/clienteslista"><i id="tag-crud">Detalles</i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}

@if(MostrarModal)
{
    <ModalConfirmacion  Titulo="¿Está seguro?" 
                        Texto="Se dispone a eliminar un Cliente de la base de datos..."
                        OnClose="@CerrarModal">

    </ModalConfirmacion> 
}

@code {
    private IEnumerable<Cliente> clientes;

    private Cliente _clienteAborrar;
    public bool MostrarModal { get; set; }
    private async Task CerrarModal(bool aceptado)
    {
        if (aceptado)
        {
            @* Navegador.NavigateTo("/"); *@
            Navegador.NavigateTo("/clienteslista",true);
            await ServicioCliente.EliminarCliente(_clienteAborrar.Id);
        }

        MostrarModal = false;
        StateHasChanged();
    }

    private void AbrirModal(Cliente clienteAborrar)
    {
        _clienteAborrar = clienteAborrar;
        MostrarModal = true;
        StateHasChanged();
    }

    @* protected async Task BorrarCliente()
    {
        await ServicioCliente.EliminarCliente(_clienteAborrar.Id);
    } *@

    protected override async Task OnInitializedAsync()
    {
        try
        {
            clientes= await ServicioCliente.GetListaClientes();
        }
        catch (System.Exception ex)
        {
             // TODO
        }
    }
}