@page "/"

<table class="tabla">
    <tr>
        <td>
            <a href="paginatest">
                <button class="btnNav" id="icon_2"></button>
            </a>
        </td>
        <td>
            <button class="btnNav" id="icon_3"></button>
        </td>
        <td>
            <button class="btnNav" id="icon_4"></button>
        </td>
    </tr>
    <tr>
        <td id="etiqueta"><u><b>Contratación</b></u></td>
        <td id="etiqueta"><u><b>Clientes</b></u></td>
        <td id="etiqueta"><u><b>Proveedores</b></u></td>
    </tr>
    <tr>
        <td>
            <button class="btnNav" id="icon_5"></button>
        </td>
        <td>
            <button class="btnNav" id="icon_6"></button>
        </td>
        <td>
            <button class="btnNav" id="icon_7"></button>
        </td>
    </tr>
        <tr>
        <td id="etiqueta"><u><b>Inventario</b></u></td>
        <td id="etiqueta"><u><b>Ventas</b></u></td>
        <td id="etiqueta"><u><b>PQRS</b></u></td>
    </tr>

</table>
