@page "/"

<div class="contenido">

    <table class="tabla">
        <tr>
            <td class="tabla_td">
                <a href="">
                    <button class="btnNav" id="icon_2"></button>
                </a>
            </td>
            <td>
                <a href="clienteslista">
                    <button class="btnNav" id="icon_3"></button>
                </a>
            </td>
            <td>
                <a href="proveedoresguardar">
                    <button class="btnNav" id="icon_4"></button>
                </a>
            </td>
        </tr>
        <tr>
            <td id="etiqueta_btn"><u><b>Contratación</b></u></td>
            <td id="etiqueta_btn"><u><b>Clientes</b></u></td>
            <td id="etiqueta_btn"><u><b>Proveedores</b></u></td>
        </tr>
        <tr>
            <td>
                <button class="btnNav" id="icon_5"></button>
            </td>
            <td>
                <button class="btnNav" id="icon_6"></button>
            </td>
            <td>
                <button class="btnNav" id="icon_7"></button>
            </td>
        </tr>
        <tr>
            <td id="etiqueta_btn"><u><b>Inventario</b></u></td>
            <td id="etiqueta_btn"><u><b>Ventas</b></u></td>
            <td id="etiqueta_btn"><u><b>PQRS</b></u></td>
        </tr>

    </table>
</div>