@page "/paginatest"

<div id="contenedorboton">
      <button class="btnNav" id="icon_2"><b>CONTRATACIÓN</b></button>
</div>
         
@* Este boton tiene etiquetas de booostrap *@
<a href="/">
    <button type="button" class="btn btn-lg btn-primary">Touchme</button>
</a> 


@code {
@* aqui se escribe codigo c# *@
}
@* *@

