@page "/paginatest"


<h3>PÁGINA DE EJEMPLO</h3>
<div id="contenedor_lista">
    <div id="contenedor_lista-lista">
        <ul class="list-group list-group-flush">
            @for (var i = 0; i < 50; i++)
            {
                <li class="list-group-item">Esto es un elemento @i</li>
            }
        </ul>
    </div>
</div> 

<p id="parrafo">Esto es un texto</p>

<ul class="lista">
    <li>Esto es una lista</li>
    <li>Elemento 1</li>
    <li>Elemento 2</li>
    <li>Elemento 3</li>
</ul>


@* Este boton tiene etiquetas de booostrap *@
<a href="/">
    <button type="button" class="btn btn-lg btn-primary">Touchme</button>
</a> 

@code {
    @* aqui se escribe codigo c# *@
}
@* *@