<<<<<<< HEAD
/* _content/MyPyme.App.Ui/Pages/Clientes.razor.rz.scp.css */
#contenedor_lista[b-j83c1tefg9] {
	height: 50%;
	width: 100%;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}
#contenedor_lista-lista[b-j83c1tefg9] {
	height: auto;
}
.texto[b-j83c1tefg9] {
=======
/* _content/MyPyme.App.Ui/Pages/ClientesGuardar.razor.rz.scp.css */

.texto[b-j2tchm9dac] {
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
	padding:4px;
	background:#fff;
}

<<<<<<< HEAD
.btn[b-j83c1tefg9]{
    margin-top: 20px;
}

.cabecera_pag[b-j83c1tefg9]{
=======
.btn[b-j2tchm9dac]{
    margin-top: 20px;
}

.cabecera_pag[b-j2tchm9dac]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
	height:15%;
	width: 100%;
	border: 2px solid rgb(134, 112, 255);
    background-color: rgb(169, 155, 248);
	border-radius: 30px;
	margin-bottom: 20px;
	display:flex;
	align-items: center;
	justify-content: center; 
}

<<<<<<< HEAD
.cabecera_pag_zona1[b-j83c1tefg9]{
=======
.cabecera_pag_zona1[b-j2tchm9dac]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
	width:33.33%;
	height:100%;
	text-align:center;
}

<<<<<<< HEAD
.cabecera_pag_zona2[b-j83c1tefg9]{
	width:33.33%;
	text-align:center;
}
.cabecera_pag_zona2_icon[b-j83c1tefg9]{
=======
.cabecera_pag_zona2[b-j2tchm9dac]{
	width:33.33%;
	text-align:center;
}
.cabecera_pag_zona2_icon[b-j2tchm9dac]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
	height: 100%;
	width: 100%;
}

<<<<<<< HEAD
.cabecera_pag_zona3[b-j83c1tefg9]{
=======
.cabecera_pag_zona3[b-j2tchm9dac]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
	width:33.33%;
	height: 100%;
	text-align:right;
}
<<<<<<< HEAD
#boton_home[b-j83c1tefg9]{
	width: 25%;
	height: 100%;
	border:none;
=======
#boton_home[b-j2tchm9dac]{
	width: 25%;
	height: 100%;
	border:none;
    outline: none;
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
	border-radius:30px;
	background-color: rgb(169, 155, 248);
	background-image: url("iconos/icon_11.png");
	background-repeat: no-repeat;
<<<<<<< HEAD
    background-size:75%;
=======
    background-size:50%;
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    background-position: left;
	margin-right: 15%;
}

<<<<<<< HEAD
#icon1[b-j83c1tefg9]{
=======
#icon1[b-j2tchm9dac]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
	width:25%;
	height: 100%;
	background-image: url("iconos/icon_3.png");
	background-repeat: no-repeat;
<<<<<<< HEAD
    background-size:75%;
    background-position: left;
	margin-left: 15%;
}
h3[b-j83c1tefg9]{
	padding-top:10px;
}
a[b-j83c1tefg9]{
	display:block;
	width:100%;
	height:100%;
}

.btn[b-j83c1tefg9]{
	text-align:center;
}
/* _content/MyPyme.App.Ui/Pages/index.razor.rz.scp.css */
.contenido[b-io3sryghfg]{
=======
    background-size:50%;
    background-position: left;
	margin-left: 15%;
}
h3[b-j2tchm9dac]{
	padding-top:10px;
}
a[b-j2tchm9dac]{
	display:block;
	width: 50%;
	height:100%;
	/* background-color: aquamarine; */
}

.btn[b-j2tchm9dac]{
	text-align:center;
}


#td2[b-j2tchm9dac]{
	width: 80%;
	text-align:left;

}

#lbl1[b-j2tchm9dac]{
	margin-left: 30%;
}
/* _content/MyPyme.App.Ui/Pages/ClientesLista.razor.rz.scp.css */

/* #test{
	background-color: aquamarine;
} */

.cabecera_pag[b-vn30h4kl28]{
	height:15%;
	width: 100%;
	border: 2px solid rgb(134, 112, 255);
    background-color: rgb(169, 155, 248);
	border-radius: 30px;
	margin-bottom: 20px;
	display:flex;
	align-items: center;
	justify-content: center; 
}

#cabecera-lista[b-vn30h4kl28]{
    width: 99.4%;
}
#cabecera-lista-tr[b-vn30h4kl28]{
    border-bottom: 2px solid;
    border-color: rgb(192, 192, 192);
    width: 90%;
	height:100%;
    font-size: 120%;
	margin-bottom:0;
}

#contenedor_lista[b-vn30h4kl28] {

	height: 70%;
	width: 100%;
	border: none;
	background: #f1f1f1;
	overflow-y: scroll;
}
#contenedor_lista-lista[b-vn30h4kl28] {
	height: 100%;
}

tr[b-vn30h4kl28]{
    width: 100%;
}
.cabecera-lista-tr-td[b-vn30h4kl28]{
    width: 20%;
	height : 100%;
	color: black;
}


.cabecera_pag_zona1[b-vn30h4kl28]{
	width:33.33%;
	height:100%;
	text-align:center;
}

.cabecera_pag_zona2[b-vn30h4kl28]{
	width:33.33%;
	text-align:center;
}
.cabecera_pag_zona2_icon[b-vn30h4kl28]{
	height: 100%;
	width: 100%;
}

.cabecera_pag_zona3[b-vn30h4kl28]{
	width:33.33%;
	height: 100%;
	text-align:right;
}
#boton_home[b-vn30h4kl28]{
	width: 25%;
	height: 100%;
	border:none;
    outline: none;
	border-radius:30px;
	background-color: rgb(169, 155, 248);
	background-image: url("iconos/icon_11.png");
	background-repeat: no-repeat;
    background-size:50%;
    background-position: left;
	margin-right: 15%;
}

#icon1[b-vn30h4kl28]{
	width:25%;
	height: 100%;
	background-image: url("iconos/icon_3.png");
	background-repeat: no-repeat;
    background-size:50%;
    background-position: left;
	margin-left: 15%;
}

#a-home[b-vn30h4kl28]{
	display:block;
	width:100%;
	height:100%;
}

table[b-vn30h4kl28]{
    margin-bottom: 0;
    margin-top: 0;
    background-color: #ffffff;
    text-align:center;
}

#tag-crud[b-vn30h4kl28]{

   padding-left: 8px;;
}

.btn-crear[b-vn30h4kl28]{
    outline: none;
	border:none;
    padding-top: 0;
    padding-bottom: 0;
	padding-top: 5px;
    width:55%;
	height: 100%;
    background-color: rgb(169, 155, 248);
    border-radius:8px;
    transition-duration: 0.2s;
    
}
.btn-crear:hover[b-vn30h4kl28]{
    transition-duration: 0.2s;
    width:60%;
    background-color: rgb(125, 104, 243);
}

#enlace-crear[b-vn30h4kl28]{
    width:100%;
    height:100%;
}

/* _content/MyPyme.App.Ui/Pages/index.razor.rz.scp.css */
.contenido[b-kvso3n0ass]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    display: block;
    height: 100%;
}

<<<<<<< HEAD
.tabla[b-io3sryghfg]{
    width: 100%;
=======
.tabla[b-kvso3n0ass]{
    width: 100%; 
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    height: 100%;
    text-align: center;
}

<<<<<<< HEAD
td[b-io3sryghfg]{
=======
td[b-kvso3n0ass]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    height: 40%;
    width: 33.3%;  
}

<<<<<<< HEAD
#icon_2[b-io3sryghfg]{
    background-image: url("iconos/icon_2.png");
}
#icon_3[b-io3sryghfg]{
    background-image: url("iconos/icon_3.png");
}
#icon_4[b-io3sryghfg]{
    background-image: url("iconos/icon_4.png");
}
#icon_5[b-io3sryghfg]{
    background-image: url("iconos/icon_5.png");
}
#icon_6[b-io3sryghfg]{
    background-image: url("iconos/icon_6.png");
}
#icon_7[b-io3sryghfg]{
    background-image: url("iconos/icon_7.png");
}

.btnNav[b-io3sryghfg]{
=======
#icon_2[b-kvso3n0ass]{
    background-image: url("iconos/icon_2.png");
}
#icon_3[b-kvso3n0ass]{
    background-image: url("iconos/icon_3.png");
}
#icon_4[b-kvso3n0ass]{
    background-image: url("iconos/icon_4.png");
}
#icon_5[b-kvso3n0ass]{
    background-image: url("iconos/icon_5.png");
}
#icon_6[b-kvso3n0ass]{
    background-image: url("iconos/icon_6.png");
}
#icon_7[b-kvso3n0ass]{
    background-image: url("iconos/icon_7.png");
}

.btnNav[b-kvso3n0ass]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    outline: none;
    border: 2px solid rgb(134, 112, 255);
    background-color: rgb(169, 155, 248);
    width: 55%;
    height: 75%;
    border-radius: 90px;
    background-repeat: no-repeat;
    background-size:40%;
    background-position: center;
    transition-duration: 0.2s;
}
<<<<<<< HEAD
.btnNav:hover[b-io3sryghfg]{
=======
.btnNav:hover[b-kvso3n0ass]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    transition-duration: 0.2s;
    background-color: rgb(134, 112, 255);
    width: 60%;
    height: 80%;
}
<<<<<<< HEAD
.btnNav:active[b-io3sryghfg]{
=======
.btnNav:active[b-kvso3n0ass]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    transition-duration: 0.3s;
    border: -5px;
    border-color: rgb(232, 230, 240);
}

<<<<<<< HEAD
#etiqueta_btn[b-io3sryghfg]{
=======
#etiqueta_btn[b-kvso3n0ass]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    padding: 0;
    margin: 0;
    height: 2%; 
    color: rgb(134, 112, 255);
    font-size: 120%; 
}
<<<<<<< HEAD


/* _content/MyPyme.App.Ui/Shared/MainLayout.razor.rz.scp.css */
*[b-tbrkohjn1u]{
    margin: 0%;
    padding:0%;
}
.page[b-tbrkohjn1u] {
=======
/* _content/MyPyme.App.Ui/Pages/ProveedoresGuardar.razor.rz.scp.css */
#contenedor_lista[b-9qfm7bbzud] {
	height: 50%;
	width: 100%;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}
#contenedor_lista-lista[b-9qfm7bbzud] {
	height: auto;
}
.texto[b-9qfm7bbzud] {
	padding:4px;
	background:#fff;
}

.btn[b-9qfm7bbzud]{
    margin-top: 20px;
}

.cabecera_pag[b-9qfm7bbzud]{
	height:15%;
	width: 100%;
	border: 2px solid rgb(134, 112, 255);
    background-color: rgb(169, 155, 248);
	border-radius: 30px;
	margin-bottom: 20px;
	display:flex;
	align-items: center;
	justify-content: center; 
}

.cabecera_pag_zona1[b-9qfm7bbzud]{
	width:33.33%;
	height:100%;
	text-align:center;
}

.cabecera_pag_zona2[b-9qfm7bbzud]{
	width:33.33%;
	text-align:center;
}
.cabecera_pag_zona2_icon[b-9qfm7bbzud]{
	height: 100%;
	width: 100%;
}

.cabecera_pag_zona3[b-9qfm7bbzud]{
	width:33.33%;
	height: 100%;
	text-align:right;
}
#boton_home[b-9qfm7bbzud]{
	width: 25%;
	height: 100%;
	border:none;
	outline: none;
	border-radius:30px;
	background-color: rgb(169, 155, 248);
	background-image: url("iconos/icon_11.png");
	background-repeat: no-repeat;
    background-size:50%;
    background-position: left;
	margin-right: 15%;
}

#icon1[b-9qfm7bbzud]{
	width:25%;
	height: 100%;
	background-image: url("iconos/icon_4.png");
	background-repeat: no-repeat;
    background-size:50%;
    background-position: left;
	margin-left: 15%;
}
h3[b-9qfm7bbzud]{
	padding-top:10px;
}
a[b-9qfm7bbzud]{
	display:block;
	width:100%;
	height:100%;
}

.btn[b-9qfm7bbzud]{
	text-align:center;
}

#td2[b-9qfm7bbzud]{
	width: 80%;
	text-align:left;
	/* background-color: rgb(6, 100, 69); */
}

#lbl1[b-9qfm7bbzud]{
	margin-left: 30%;
}
/* _content/MyPyme.App.Ui/Pages/ProveedoresLista.razor.rz.scp.css */
/* #test{
	background-color: aquamarine;
} */

.cabecera_pag[b-4v85t4v7l6]{
	height:15%;
	width: 100%;
	border: 2px solid rgb(134, 112, 255);
    background-color: rgb(169, 155, 248);
	border-radius: 30px;
	margin-bottom: 20px;
	display:flex;
	align-items: center;
	justify-content: center; 
}

#cabecera-lista[b-4v85t4v7l6]{
    width: 99.4%;
}
#cabecera-lista-tr[b-4v85t4v7l6]{
    border-bottom: 2px solid;
    border-color: rgb(192, 192, 192);
    width: 90%;
	height:100%;
    font-size: 120%;
	margin-bottom:0;
}

#contenedor_lista[b-4v85t4v7l6] {

	height: 70%;
	width: 100%;
	border: none;
	background: #f1f1f1;
	overflow-y: scroll;
}
#contenedor_lista-lista[b-4v85t4v7l6] {
	height: 100%;
}

tr[b-4v85t4v7l6]{
    width: 100%;
}
.cabecera-lista-tr-td[b-4v85t4v7l6]{
    width: 16.66%;
	height : 100%;
	color: black;
}


.cabecera_pag_zona1[b-4v85t4v7l6]{
	width:33.33%;
	height:100%;
	text-align:center;
}

.cabecera_pag_zona2[b-4v85t4v7l6]{
	width:33.33%;
	text-align:center;
}
.cabecera_pag_zona2_icon[b-4v85t4v7l6]{
	height: 100%;
	width: 100%;
}

.cabecera_pag_zona3[b-4v85t4v7l6]{
	width:33.33%;
	height: 100%;
	text-align:right;
}
#boton_home[b-4v85t4v7l6]{
	width: 25%;
	height: 100%;
	border:none;
    outline: none;
	border-radius:30px;
	background-color: rgb(169, 155, 248);
	background-image: url("iconos/icon_11.png");
	background-repeat: no-repeat;
    background-size:50%;
    background-position: left;
	margin-right: 15%;
}

#icon1[b-4v85t4v7l6]{
	width:25%;
	height: 100%;
	background-image: url("iconos/icon_4.png");
	background-repeat: no-repeat;
    background-size:50%;
    background-position: left;
	margin-left: 15%;
}

#a-home[b-4v85t4v7l6]{
	display:block;
	width:100%;
	height:100%;
}

table[b-4v85t4v7l6]{
    margin-bottom: 0;
    margin-top: 0;
    background-color: #ffffff;
    text-align:center;
}

#tag-crud[b-4v85t4v7l6]{

   padding-left: 8px;;
}

.btn-crear[b-4v85t4v7l6]{
    outline: none;
	border:none;
    padding-top: 0;
    padding-bottom: 0;
	padding-top: 5px;
    width:55%;
	height: 100%;
    background-color: rgb(169, 155, 248);
    border-radius:8px;
    transition-duration: 0.2s;
    
}
.btn-crear:hover[b-4v85t4v7l6]{
    transition-duration: 0.2s;
    width:60%;
    background-color: rgb(125, 104, 243);
}

#enlace-crear[b-4v85t4v7l6]{
    width:100%;
    height:100%;
}
/* _content/MyPyme.App.Ui/Shared/MainLayout.razor.rz.scp.css */
*[b-l4h2y166dl]{
    margin: 0%;
    padding:0%;
}
.page[b-l4h2y166dl] {
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    position: absolute;
    width: 100%;
    height: 100%;
}

<<<<<<< HEAD
.cuerpo[b-tbrkohjn1u] {
=======
.cuerpo[b-l4h2y166dl] {
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    padding-top: 1%; 
    padding-bottom: 1%;  
    padding-left: 2%;
    padding-right: 2%;

    height: 68%; 
    justify-content: center;
}

<<<<<<< HEAD
.cabecera[b-tbrkohjn1u] {
=======
.cabecera[b-l4h2y166dl] {
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    background-image: linear-gradient(180deg, #ffffff 0%, #c9c5da 70%);
    border-bottom: 2px solid #d6d5d5;
    height: 14%;
    display: flex;   
    align-items: center;
    border-radius: 20px;
}

<<<<<<< HEAD
.pie[b-tbrkohjn1u]{
=======
.pie[b-l4h2y166dl]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    background-image: linear-gradient(180deg, #c9c5da 0%, #ffffff 70%);
    border-top: 2px solid #d6d5d5;
    height: 14%;
    display: flex;
    border-radius: 50%;
}

<<<<<<< HEAD
ul[b-tbrkohjn1u]{
=======
ul[b-l4h2y166dl]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
} 

<<<<<<< HEAD
#cabecera_div-1[b-tbrkohjn1u]{
=======
#cabecera_div-1[b-l4h2y166dl]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
}

<<<<<<< HEAD
#cabecera_div-2[b-tbrkohjn1u]{
=======
#cabecera_div-2[b-l4h2y166dl]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
#cabecera_div-3[b-tbrkohjn1u]{
=======
#cabecera_div-3[b-l4h2y166dl]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
}

<<<<<<< HEAD
#pie_div_1[b-tbrkohjn1u]{
=======
#pie_div_1[b-l4h2y166dl]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    padding-top: 1%;
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
#pie_div_2[b-tbrkohjn1u]{
=======
#pie_div_2[b-l4h2y166dl]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    padding-top: 1%;
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
#pie_div_3[b-tbrkohjn1u]{
=======
#pie_div_3[b-l4h2y166dl]{
>>>>>>> 034baa2a484ed7b515476dc6e758f67e1d7ab8de
    padding-top: 1%;
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

